<div class="header">
    <img class="header__logo"
        src="https://images.gamespress.com/Content/Artwork/NickNack/Pokemon/artwork/2017/04/na-1-20170424110529/Pok_mon_logo_(Transparent_Background).png?w=240&mode=max&otf=y&quality=90&format=png&bgcolor=transparent&ex=2023-02-01+03%3A00%3A00&sky=ed3339ef2b168c5f903a471bee17605394c44559b52946273f6891381c5e4dfe"
        alt="Pokémon logo">
    <div class="header__text">
        <div class="header__data-provider">Data provided by <a class="pokeapi-link"
                href="https://pokeapi.co/">PokéAPI</a></div>
        <div class="header__trademarks">Pokémon and Pokémon character names are trademarks of Nintendo</div>
    </div>
</div>